
  <div class="row data-query">
    <div class="col-xs-3 filterby">Filter By</div>
      <div class="col-xs-3 filter">
        <ul class="filter-dropdown pull-left">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Condition <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" id="FilterContainer">
              <li><a href="#">Like New</a></li>
              <li><a href="#">Good Condition</a></li>
              <li><a href="#">Fair Condition</a></li>
              <li class="divider"></li>
              <li class="divider"></li>
              <li><%= link_to "Condition", toys_path %></li>

            </ul>
          </li>
        </ul>
      </div>
      <div class="col-xs-3 filter">
        <ul class="filter-dropdown pull-left">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Age Group <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" id=F"ilterContainer">
              <li><a href="#">0-1yr</a></li>
              <li><a href="#">1-2yrs</a></li>
              <li><a href="#">2-4yrs</a></li>
              <li><a href="#">4-8yrs</a></li>
              <li><%= link_to "Age Group", toys_path %></li>
            </ul>
          </li>
        </ul>
    </div>
      <div class="col-xs-3 filter">
        <ul class="filter-dropdown pull-left">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Category <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" id="FilterContainer">
              <li><a href="#">Activity & Learningr</a></li>
              <li><a href="#">Arts & Crafts</a></li>
              <li><a href="#">Baby Toys</a></li>
              <li><a href="#">Dolls</a></li>
              <li><%= link_to "Category", toys_path %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
