<!-- <div class="container">
  <div class="row">
    <div class="col-xs-4 toy-box">
      <div class="thumbnail" >
        <%= image_tag 'https://derpibooru.org/850623, width="200" , height="200"' %>
        <!-- <%= link_to (image_tag (toy.user.picture_url (:small)), user %> -->
      <!-- </div>
    </div>
    <div class="col-xs-4">
      <p>This is a toy that is used lightly.</p>
    </div>
    <div class="col-xs-4">
      <%= link_to  "Update", edit_toy_path, class:'btn btn-default' %>
    </div>
  </div>
</div> --> -->

  <!-- <%= render partial: '/static_page/signletoybox' %> -->
