<div class="container">
  <div class="row">
    <div class="col-xs-4 toy-box">
      <div class="thumbnail">
      </div>
    </div>
    <div class="col-xs-4">
      <p>This is a toy that is used lightly.</p>
    </div>
    <div class="col-xs-4">
      <%= link_to  "Update", edit_toy_path, class:'btn btn-default' %>
    </div>
  </div>
</div>
