<div class="col-xs-4">
  <div class="row toy-image">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12 toy-box">
          <div class="thumbnail">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>This is a toy that is used lightly.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= link_to  "Contact", new_conversation_path, class:'btn btn-default' %>
        </div>
      </div>
    </div>
  </div>
</div>
