
<div class="row">
    <div class="col-xs-4">
      <div class="row toy-image">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12 toy-box">
              <div class="thumbnail" >
                <%= image_tag 'https://derpibooru.org/850623, width="200" , height="200"' %>
                <!-- <%= link_to (image_tag (toy.user.picture_url (:small)), user %> -->
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <p>This is a toy that is used lightly.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <%= link_to  "Contact", new_conversation_path, class:'btn btn-default' %>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

  <%= render partial: '/static_page/toysbox' %>
