
  <div
    class="fb-like"
    data-share="true"
    data-width="450"
    data-show-faces="true">
  </div>

  <h1>Hello World!</h1>

  <%= render partial: '/static_pages/filterbar' %>

<!-- toy listing starts  -->
  <section>
    <div class="row">
      <% 9.times do |n| %>
      <%= render partial: '/static_pages/toysbox' %>
    <% end %>
    </div>
  </section>
