
<!--This the face book like and share  -->
  <div
    class="fb-like"
    data-share="true"
    data-width="450"
    data-show-faces="true">
  </div>
</br>
</br>
<div class="row">
  <div class="col-xs-12">
    <h1>Welcome to ToyExchange</h1>
  </div>
</div>
</br>
<div class="row">
  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">
     List Your Toy
  </button>
   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title" id="myModalLabel">New Toy</h4>
         </div>
         <div class="modal-body">
            <%= render partial: 'toys/new' %>
          </div>
       </div>
     </div>
   </div>
</div>
</br>
</br>
<!-- This is the filter -->
<%= react_component('FilterbarSearch')%>
</br>
</br>
</br>
