
<!--This the face book like and share  -->
  <div
    class="fb-like"
    data-share="true"
    data-width="450"
    data-show-faces="true">
  </div>
</br>
</br>
<div class="row">
  <div class="col-xs-12">
    <h1>Welcome to ToyExchange</h1>
  </div>
</div>
</br>
<!-- This is the filter -->
<div class="row">
  <%= render partial: '/static_pages/filterbar' %>
</div>
</br>
</br>
<div class="row">
  <div class="col-xs-12 pull-right">
    <%= link_to  "List Toy", new_toy_path, class:'btn btn-default' %>
  </div>
</div>
</br>


<%= react_component('ToySearch') %>
