<div class="panel panel-default">
  <div class="panel-heading">
    <h3>In your Inbox there are <%= @conversations.count %> conversations: </h3>
    <% if @conversations.empty? %>
    <p>You have no conversations</p>
    <% end %>
  </div>
  <div class="list-group">
    <% @conversations.each do |conversation| %>
      <p class="list-group-item">
        You have <%= conversation.messages.count %> message in this conversation for <%= link_to conversation.toy.name, toy_path(conversation.toy) %> toy.
        <%= link_to "Go to the Conversation", conversation_messages_path(conversation), class: "btn btn-default go-to-conversation-btn" , type: "button", :method => :get  %>
    </p>
    <% end %>
  </div>
</div>
