<div class="col-xs-12 col-sm-6">
<h3>In your Inbox there are <%= @conversations.count %> conversations: </h3>
 <% if @conversations.empty? %>
   <p>You have no conversations</p>
 <% end %>
 <% @conversations.each do |conversation| %>
   <div class="panel panel-default">
     <div class="panel-body">
       <p><%= link_to "Conversation about toy", conversation_messages_path(conversation) %>
         <%= link_to conversation.toy.name, toy_path(conversation.toy) %>
         <p> message in this conversation for this toy.</p>
       </p>
     </div>
   </div>
 <% end %>
 </div>
