
<h3>Inbox</h3>
 <% if @conversations.empty? %>
   <p>You have no conversations</p>
 <% end %>
 <% @conversations.each do |conversation| %>
   <div class="panel panel-default">
     <div class="panel-body">
       <p><%= link_to "Conversation about", conversation_messages_path(conversation) %>
         <%= link_to conversation.toy.name, toy_path(conversation.toy) %>
       </p>
     </div>
   </div>
 <% end %>
