<h1>User Inbox- index conversations</h1>
<div class="t">
 <h3>Mailbox</h3>
 <div class="ist">
  <div class="item">
   <% @conversations.each do |conversation| %>
   <% if conversation.sender_id == current_user.id ||      conversation.recipient_id == current_user.id %>
    <% if conversation.sender_id == current_user.id %>
      <% recipient = User.find(conversation.recipient_id) %>
    <% else %>
      <% recipient = User.find(conversation.sender_id) %>
    <% end %>
    <%= link_to recipient.first_name,   conversation_messages_path(conversation)%>
   <% end %>
  <% end %>
  </div>
 </div>
</div>
<div class="">
 <h3>All Users</h3>
  <div class="list">
   <% @users.each do |user| %>
    <% if user.id != current_user.id %>
     <div class="item">
    <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' %>
 </div>
  <% end %>
 <% end %>
 </div>
</div>
