<div class="panel panel-default">
  <div class="panel-heading">
      <h3>About</h3>
  </div>
  <div class="panel-body">
    <p>This project could not have been able to reach it's potentional without the following peoples contribution:  </p>
      <p>Janina Hartley for color theme and font</p>
      <p>Reza Shirazi and Emily Hendry for logo</p>
  </div>
</div>
