/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
  *= require rails_bootstrap_forms
  */

$primary-color: #2E97E5;
$secondary-color: #EA4949;
$yellow: #FFC639;

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Hind:300,600|Dosis:400);

html {
  position: relative;
  height: 100%
}

h1, h2, h3, h4, h5, h6, .btn, .btn-default {
  font-family: Hind, sans-serif;
}

body {
  font-family: Dosis, sans-serif;
  margin-top: 11em;
  height: 100%;
  color: #333;
}
.nav > li > a {
    color: white;
}

li {
  display: inline;
  float: left;
}

.navbar {
  background-color: $primary-color;
  border-bottom: 5px solid $secondary-color;
  padding: 2px 0 2px 0;
  div {
    border: none;
          margin-top: .3em;
    a.nav-link {
      font-size: 1.125em;
      font-family: Lato;
      color: white;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
  }
}

.navbar.navbar-default.navbar-fixed-top {
  background-color: $primary-color;
  color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-text {
    color: white;
}

.navbar-default .navbar-link {
    color: white;
}

.notice.notice-notice.notice-dismissable {
  background-color: #efefef;
  margin-bottom: 2em;
}

a {
  .dropdown-toggle {
    color: #c3c3c3;
  }
}

.pluginButton {
    padding: 0 5px 0 0;
    position: relative;
    vertical-align: top;
}

.better-row {
  margin-left: 0;
  margin-right: 0;
}

.filter {
  background-color: #f7f7f7;
  border-bottom: 2px solid #f7f7f7;
  a {
    color: #c4c4c4;
  }
}

.filterby {
    background-color: #F7f7f7;
    border-bottom: 2px solid #f7f7f7;
    padding-bottom: 11px;
    color: #c4c4c4;
}

.toy-box {
    display: block;
    border-bottom: 1px solid #e1e8ed;
    cursor: pointer;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #e1e8ed;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 3em;
    padding: 6em;
    width: auto;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);

}

footer {
    clear: both;
    position: fixed;
    overflow: hidden;
    display: block;
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: $primary-color;
}

#fall_footnotes {
  background-color: $primary-color;
  color: white;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}
