/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
  *= require rails_bootstrap_forms
  */

$primary-color: #2E97E5;
$secondary-color: #EA4949;
$yellow: #FFC639;

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Hind:300,600|Dosis:400);

html {
  position: relative;
  height: 100%
}

h1, h2, h3, h4, h5, h6, .btn, .btn-default {
  font-family: Hind, sans-serif;
}

body {
  font-family: Dosis, sans-serif;
  margin-top: 11em;
  margin-bottom: 11em;
  font-size: 16px;
  color: #333;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;

}

#wrapper {
  min-height: 100%;
  width: 95%;
  margin: 0 auto;
}


.logo {
  float: left;
  width:60px;
  height:60px;
}

a.toyExchange {
  font-family: Pacifico;
  font-size: 2em;
  color: white;
  text-decoration: none;
  margin-left: 0.5em;
}

.nav {
  padding: 9px;
  margin-bottom: 3px;
}

.nav > li > a {
    color: white;
    &:hover, &:focus, &:active {
      background-color: darken($primary-color, 5%);
    }
}

li {
  display: inline;
  float: left;
}

div #navbar {
  float: left;
}
.navbar {
  background-color: $primary-color;
  border-bottom: 5px solid $secondary-color;
  padding: 2px 0 2px 0;
  div {
    border: none;
          margin-top: .3em;
    a.nav-link {
      font-size: 1.125em;
      font-family: Lato;
      color: white;
      &:hover {
        text-decoration: none;
        background-color: darken($primary-color, 5%);
      }
    }
  }
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: darken($primary-color, 5%);
    border-color: #337ab7;
}
.navbar.navbar-default.navbar-fixed-top {
  background-color: $primary-color;
  color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-text {
    color: white;
}

.navbar-default .navbar-link {
    color: white;
}

.hidden { display: none; }

/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.notice.notice-notice.notice-dismissable {
  background-color: #efefef;
  margin-bottom: 2em;
}

a .dropdown-toggle {
    color: #c3c3c3;
}

.pluginButton {
    padding: 0 5px 0 0;
    position: relative;
    vertical-align: top;
}

.account-row {
  display: inline-block;
}

.filter {
  background-color: #f7f7f7;
  border-bottom: 2px solid #f7f7f7;
  a {
    color: #c4c4c4;
  }
}

.filterby {
    background-color: #F7f7f7;
    border-bottom: 2px solid #f7f7f7;
    padding-bottom: 11px;
    margin-bottom: 2em;
    color: #c4c4c4;
}

.dropdown-menu {
  min-width: 90px;
}

.toy-box {
    display: block;
    border-bottom: 1px solid #e1e8ed;
    cursor: pointer;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #e1e8ed;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 3em;
    padding: 6em;
    width: auto;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);

}

.filter-image {
  width:100%;
}

.toy-image {
  width: 100px;
  height: 100px;
}

.image-height {
  min-height: 300px;
}

.search-bar {
  margin-bottom: 3em;
}
.small-box {
  margin-left: 2.65em;
}

.text-box {
  margin-left: 4em;
}

.conversation-lineup a {
  margin-left: 0px;
}

.item{
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

footer {
    clear: both;
    overflow: hidden;
    display: block;
    height: 100px;
    bottom: 0;
    width: 100%;
    margin-top: 3em;
    background-color: $primary-color;
}

#fall_footnotes {
  background-color: $primary-color;
  color: white;
}
