
<footer>
  <div class="container">
  <div id="footnotes_holder" class="footer"></div>
  <!--This the face book like and share  -->
    <div
      class="fb-like"
      data-share="true"
      data-width="450"
      data-show-faces="true">
    </div>
    <div class="pull-right">
    <li><%= link_to "About", company_path(1) %></li>
  </div>
</div>
</foorter>
