
<footer>
  <div id="footer">
    <div id="footnotes_holder" class="footer"></div>
    <!--This the face book like and share  -->
      <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
      </div>
  </div>
</foorter>
